<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h2 class="section-heading">About Us</h2>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <p class="lead">High Branch Brewing is a family-run artisanal brewery located in the historic Gibson Mill in Concord, North Carolina. We focus on Belgian inspired and hop forward ales, with an emphasis on fermentation profiles.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Our Story</h3>
                <p><img src="{{ site.baseurl }}/img/about/tj.jpg" class="img-circle img-thumbnail pull-right" style="width: 50%; height: auto; margin: 0 0 10px 10px;">High Branch opened in November of 2015, when we decided to turn our passion for beer into a business. TJ (brewer for High Branch) discovered his love for making beer in 2009 after receiving his first home brew kit. Since then, the drive to make craft beer has been all-consuming.</p>
                <p>We wanted to create a brewery/tap room space that is fun and lighthearted, while keeping the quality of the beer as the top priority.</p>
                <p>High Branch symbolizes always reaching for the "higher branch" and endeavoring to improve the beer being produced. We strive to use local ingredients and develop relationships with farmers and other small businesses.</p>
                <p>Turning our passion into a business would not have been possible without the support of our family and friends.</p>
                <p><strong>&mdash; TJ &amp; Maureen Creighton</strong></p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <h3>The Tap Room</h3>
                <p><img src="{{ site.baseurl }}/img/about/taproom.jpg" class="img-responsive img-thumbnail"></p>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <p>High Branch Brewing’s tap room is a family friendly space to relax, socialize and enjoy great beer. We have indoor and outdoor seating, and dogs are welcome on our deck.</p>
                <p>While we don't have a restaurant onsite, we do offer snacks from a local farmer and cafe. Please also feel free to bring your own food in any time.</p>
                <p>Join us for yoga on Thursdays from 7 to 8. $8 a person, which includes the class and one beer. Bring your own mat.</p>
            </div>
            <div class="col-md-3">
                <p>We have a projector to show football and other events. We aren't a sports bar but we want to offer something for our fellow local sports fans.</p>
                <p>Check out our <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">Facebook page</a> for upcoming can and bottle releases, as well as other events happening in the tap room.</p>
                <p>While limited, we do rent the tap room out Monday and Tuesday evenings, as well as Saturdays before 12 and Sundays before 1. Contact us at <a href="mailto:events@highbranchbrewing.com">events@highbranchbrewing.com</a> for more information.</p>
            </div>
        </div>
    </div>
</section>