<div class="modal fade text-center" id="ageModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" 
   data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <h1><img src="/img/leaves.svg"></h1>
            <h2>Are you 21 or older?</h2>
            <button type="button" class="btn btn-xl" id="age-yes" data-dismiss="modal">Yes</button>
            <a href="https://www.google.com/" id="age-no" class="btn btn-xl">No</a>
        </div>
    </div>
</div>