<section id="blog">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h2 class="section-heading">Recent Posts</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <p>Coming soon...</p>
				{% for post in site.posts limit:3 %}
					<p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%B %-d" }} &mdash; {{ post.title }}</a></p>
				{% endfor %}
            </div>
        </div>
    </div>
</section>