<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <h3>Contact Us</h3>
                <p>{{ site.title }}<br>
                {{ site.address }}<br>
                {{ site.city }}, {{ site.state }} {{ site.zip }}</p>
                <p><a href="tel:+17047063807"><i class="fa fa-phone"></i>{{ site.phone }}</a><br>
                <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i>{{ site.email }}</a></p>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3>Tap Room Hours</h3>
                <p><strong>Monday:</strong> Closed<br>
                <strong>Tuesday:</strong> Closed<br>
                <strong>Wednesday:</strong> 4-8pm<br>
                <strong>Thursday:</strong> 4-8pm<br>
                <strong>Friday:</strong> 4-10pm<br>
                <strong>Saturday:</strong> 2-10pm<br>
                <strong>Sunday:</strong> 2-7pm<br>
                </p>
            </div>
            <div class="col-md-6 col-sm-4">
                <h3>Our Location</h3>
                <p>High Branch is located in the Gibson Mill in Concord, North Carolina. As you enter the Gibson Mill parking lot, our front entrance is through the double doors under the green awning. We are in Suite 148 at the end of the hall. You can also use the rear entrance which is just behind the main building and to the left.</p>
                <p><a href="https://goo.gl/maps/NvebAqv1cao" target="_blank"><i class="fa fa-map-marker"></i>Map &amp; Directions</a></p>
            </div>
        </div>
    </div>
</section>