<section id="events">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h2 class="section-heading">Upcoming Events</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
				{% for events in site.events limit:3 %}
					<p><a href="{{ events.url | prepend: site.baseurl }}">{{ events.date | date: "%B %-d" }} &mdash; {{ events.title }}</a></p>
				{% endfor %}
            </div>
        </div>
    </div>
</section>