<footer>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	            <span class="copyright">&copy; 2015-<span id="year"></span>, {{ site.title }}</span>
	        </div>
	        <div class="col-md-4">
	            <ul class="list-inline social-buttons">
	                <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a>
	                </li>
	                <li><a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a>
	                </li>
	                <li><a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank"><i class="fa fa-instagram"></i></a>
	                </li>
	            </ul>
	        </div>
	        <div class="col-md-4">
	            <ul class="list-inline quicklinks">
	            	<li><a href="{{ site.baseurl }}/#">Press</a>
	                </li>
	                <li><a href="{{ site.baseurl }}/#">Privacy Policy</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</div>
</footer>