{% for beer in site.beer %}
    <div class="beer-modal modal fade" id="{{ beer.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-image" style="background-image: url('{{ site.baseurl }}/img/beer/{{ beer.img }}');">
            </div>
            <div class="modal-body">
                <h1><img src="{{ site.baseurl }}/img/leaves.svg">{{ site.title }}</h1>
                <h2>{{ beer.title }}</h2>
                <p class="lead text-muted">{{ beer.style }}</p>
                <p>{{ beer.description }}</p>
                <ul class="list-unstyled item-details">
                    <li><strong>ABV:</strong>
                        {{ beer.abv }}
                    </li>
                    <li><strong>Availability:</strong>
                        {{ beer.availability }}
                    </li>
                    <li><strong>Bitterness:</strong>
                        {{ beer.bitterness }}
                    </li>
                    <li><strong>Gravity:</strong>
                        {{ beer.gravity }}
                    </li>
                    <li><strong>Hops:</strong>
                        {{ beer.hops }}
                    </li>
                    <li><strong>Malt:</strong>
                        {{ beer.malt }}
                    </li>
                    <li><strong>Sourness:</strong>
                        {{ beer.sourness }}
                    </li>
                </ul>
                <a href="{{ site.baseurl }}/#beer" data-dismiss="modal"><i class="fa fa-long-arrow-left"></i> Back to What's On Tap</a>
            </div>
        </div>
    </div>
{% endfor %}