// Beer Section

#beer {
    .beer-item {
        margin: 0 0 30px 0;
        right: 0;
        .beer-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .beer-hover {
                background: $brand-primary;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: .9;
                }
                .beer-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .beer-caption {
        	max-width: 400px;
        	margin: 0 auto;
        	background: #ffffff;
        	padding: 10px;
            position: relative;
        	h3 {
                font-size: 14px;
        		margin: 0;
        	}
        	p {
        		margin: 0;
        	}
            span {
                color: $brand-primary;
                font-weight: 700;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 0 10px 10px 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

.beer-modal {
    .modal-content {
        -webkit-box-shadow: none;
        background-clip: border-box;
        border-radius: 0;
        border: none;
        box-shadow: none;
        height: 100%;
        .modal-image {
            @include background-cover;
            background-attachment: scroll;
            background-color: $gray-darkest;
            background-position: center center;
            background-repeat: none;
            color: white;
            float: left;
            height: 100%;
            position: relative;
            text-align: center;
            width: 50%;
        }
        .modal-body {
            background: #ffffff;
            float: right;
            height: 100%;
            overflow: scroll;
            padding: 40px;
            width: 50%;
            h1 {
                color: $brand-primary;
                font-size: 14px;
                text-transform: uppercase;
                img {
                    display: inline;
                    height: 20px;
                    margin-right: 5px;
                    width: auto;
                }
            }
            h2 {
                font-size: 42px;
                margin: 0;
            }
            a {
                cursor: pointer;
            }
            h1, p, ul {
                margin: 0 0 20px 0;
            }
        }
    }
    .close-modal {
        background-color:transparent;
        cursor: pointer;
        height: 75px;
        position: absolute;
        right: 25px;
        top: 25px;
        width: 75px;
        z-index: 1053;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            background-color: $gray-darkest;
            height: 75px;
            margin-left: 35px;
            width: 1px;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index: 1051;
            .rl {
                background-color: $gray-darkest;
                height: 75px;
                width: 1px;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index: 1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

@media(max-width:767px) {
    #beer {
        .beer-item {
            .beer-caption {
                text-align: center;
                p {
                    line-height: 125%;
                }
                span {
                    position: relative;
                    margin: 0;
                }
            }
        }
    }
    .beer-modal {
        .modal-content {
            .modal-image {
                height: 50%;
                float: none;
                width: 100%;
            }
            .modal-body {
                float: none;
                height: auto;
                padding: 25px 10px 50px 10px;
                width: 100%;
                h1 {
                    img {
                        display: none;
                    }
                }
                h2 {
                    font-size: 36px;
                }
            }
        }
        .close-modal {
            .lr {
                background-color: #ffffff;
                .rl {
                    background-color: #ffffff;
                }
            }
        }
    }
}