// Global Components

body {
    overflow-x: hidden;
    @include body-font;
}

.text-muted {
    color: $gray;
}

.text-primary {
    color: $brand-primary;
}

p {
    font-size: 14px;
    line-height: 1.75;
    margin: 0 0 15px 0;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: $brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($brand-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darkest;
}

.texture {
    background-image: url('../img/texture.png');
    background-repeat: repeat;
    background-size: 3px 3px;
    height: 100%;
    position: absolute;
    width: 100%;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $brand-primary, $brand-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $brand-primary, $brand-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    text-transform: uppercase;
}

// Global Section Styles

section {
    padding: 100px 0;
}
section.page {
    padding: 100px 0 50px 0;
}
h2.section-heading {
    color: $brand-primary;
    font-size: 42px;
    margin: 0 0 25px 0;
}
p.lead {
    font-size: 21px;
    margin-bottom: 25px;
}
section#roots {
    ul {
        margin: 0 0 20px 0;
         li {
            line-height: 1.75;
            margin: 0 0 5px 0;
            ul {
                margin: 5px 0;
            }
        }    
    }
}
i.fa-long-arrow-right {
    margin-left: 5px;
}
i.fa-long-arrow-left {
    margin-right: 5px;
}

@media(max-width:768px) {
    section {
        padding: 50px 0;
    }
    h2.section-heading {
        font-size: 36px;
    }
    p.lead {
        font-size: 18px;
    }
    section#roots {
        ul {
            margin: 0 0 20px 0;
             li {
                line-height: 1.75;
                margin: 0 0 5px 0;
                ul {
                    margin: 5px 0;
                }
            }    
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}