header {
	background-color: $gray-darkest;
	background-image: url('../img/header-bg.jpg');
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	@include background-cover;
	text-align: center;
	color: white;
	position: relative;
	.sticker {
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 1029;
		margin-left: -34px;
		margin-bottom: -19px;
		a {
			background: $brand-primary;
			display: inline-block;
			color: #ffffff;
			padding: 5px 25px;
			&:hover,
	        &:focus,
	        &:active,
	        &.active {
	        	background: darken($brand-primary,10%);
	        }
		}
	}
	.logo {
		padding: 150px 0 100px 0;
		img {
			height: auto;
			width: 100%;
		}
	}
}

@media(max-width:768px) {
	header {
		.logo {
			padding: 100px 0 50px 0;
		}
	}
}