#roots {
    ul {
        margin: 0 0 20px 0;
         li {
            line-height: 1.75;
            margin: 0 0 5px 0;
            ul {
                margin: 5px 0;
            }
        }    
    }
}

@media(max-width:768px) {
    #roots {
        ul {
            margin: 0 0 20px 0;
             li {
                line-height: 1.75;
                margin: 0 0 5px 0;
                ul {
                    margin: 5px 0;
                }
            }    
        }
    }
}