// Private Events

#private-events {
    h3 {
        margin-top: 0;
    }
    i {
        margin-left: 5px;
    }
}
.inquiry-form {
    background: #ffffff;
    height: 100%;
    padding: 3px 20px;
    iframe {
        height: 740px !important;
    }
}