---
layout: page
---

<p class="lead text-muted">{{ page.style }}<img src="{{ site.baseurl }}/img/beer/{{ page.img }}" class="img-circle img-thumbnail pull-right" alt="" style="width: 50%; height: auto; margin: 10px;"></p>
<p>{{ page.description }}</p>
<ul class="list-unstyled item-details">
    <li><strong>ABV:</strong>
        {{ page.abv }}
    </li>
    <li><strong>Availability:</strong>
        {{ page.availability }}
    </li>
    <li><strong>Bitterness:</strong>
        {{ page.bitterness }}
    </li>
    <li><strong>Gravity:</strong>
        {{ page.gravity }}
    </li>
    <li><strong>Hops:</strong>
        {{ page.hops }}
    </li>
    <li><strong>Malt:</strong>
        {{ page.malt }}
    </li>
    <li><strong>Sourness:</strong>
        {{ page.sourness }}
    </li>
</ul>
<!-- <p><a href="{{ site.baseurl }}/beer/"><i class="fa fa-long-arrow-left"></i>Back to Beer Archive</a></p> -->